{% extends "layout.html" %}

{% block title %}
    Add Important Task
{% endblock %}

{% block main %}
    <form action="/append2" method="post">
<div class="form-group">


 <p> <input autocomplete="off" autofocus class="form-control" name="task" placeholder="I am an important task!" type="text">
 </p>
 <p>Due Date:</p>

<!--https://gijgo.com/datepicker/example/bootstrap-4-->
<div align = "center">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <input autocomplete="off" id="datepicker" name="date" width="276" align="right" /> <br><br>

</div>
    <script>
        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap4'
        });
    </script>



        <button class="btn btn-primary" type="submit">Add Important Task</button>
    </form>
{% endblock %}
